.~lock.*
.gitignore
arm/hello
blink/blinken
nas
nas/*
NOOBS_v*
kubernetes/*
FullNode*.img
Backup_8GB-Stick_für_NAS_in_Fritzbox/*
.directory
webproxy

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
FullNodeLutz_20171118.img.gz
